.error {
  color: rgb(240, 66, 66);
}

#upgrade-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  z-index: 1000;
  background-color: rgb(51, 48, 48);
  opacity: 0.9;
  box-shadow:
    10px 0 0 var(--shadow-bt-color),
    -10px 0 0 var(--shadow-bt-color),
    0 10px 0 var(--shadow-bt-color),
    0 -10px 0 var(--shadow-bt-color);
}

#stats-board {
  box-shadow:
    6px 0 0 var(--shadow-bt-color),
    -6px 0 0 var(--shadow-bt-color),
    0 6px 0 var(--shadow-bt-color),
    0 -6px 0 var(--shadow-bt-color);
  padding: 10px;
  margin: 20px;
}

#stats-cell {
  display: flex;
  box-shadow:
    5px 0 0 var(--shadow-bt-color),
    -5px 0 0 var(--shadow-bt-color),
    0 5px 0 var(--shadow-bt-color),
    0 -5px 0 var(--shadow-bt-color);
  margin: 20px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
}

button:disabled {
  background-color: rgb(68, 60, 60);
  color: rgb(167, 218, 148);
}

p {
  padding: 10px;
  margin: 5px;
}
