.error{
    color: rgb(240, 66, 66);
}

#stats-board{
    border: 8px solid;
    padding: 10px;
    margin-bottom: 2em;
}

#stats-cell{
    display: flex;
    border: 4px solid;
    
    margin: 10px; 
    align-items: center;
    justify-content: center;
    gap: 20px ;
}

button{
    padding: 10px;
    font-size: 1rem;
}

p{
    padding: 10px;
    margin: 5px;
}